*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: cursive;
}
.nav
{
    border: 2px solid brown;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    height: 38px;
    width: 100%;
    background-color: rgb(251, 112, 112);
    color: cornsilk;
    text-align: right;
    background-size: contain;
    
}
.nav a{
    margin-top: 0px;
    display: inline-block;
    text-align: right;
    margin-left: 10px;
    overflow: hidden;
    
    


}
a:link{color: cornsilk;}
a:visited{color: cornsilk;}
a:active{color: cornsilk;}
a:hover{
    color: rgba(3, 255, 83, 0.924);
}
#main_contact
{
    /* height: 1px; */
    border: 2px solid rgb(20, 220, 87);
    margin-right: 42%;
    margin-top:  150px;
    margin-left: 588px;
    text-align: justify;

}
.m_heading{
    padding-left: 10px;
    color:crimson;
}
#img 
{
    padding-left: 0%;
    margin-right: 73%;
    /* padding-top: 500px; */
}
#img_menu{
    margin-left: 300px;
    margin-top: 5px;
    border: 2px;
    border-style: solid;
    border-color: rgb(255, 0, 13);
    
}
#q_main{
    text-align: center;
    padding-left: 44%;
}
hr{
    color: crimson;
}
#C_cake
{
    margin-left: 10%;
} 
#Cake
{
    margin-left: 5%;
}
#brownies
{
    margin-left: 5%;
}
.main{
    background-color: rgb(253, 232, 232);
}
#q{
    color:crimson;
    margin-left: 1%;
}